html, body {
  margin: 0;
  height: 100%;
}
#app {
  margin: 0 auto;
  font-weight: normal;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  min-height: 100vh;
}
.error p {
  color: red;
}
#userContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.simple-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}